<ion-header>
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-menu-button style="visibility: hidden"></ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-menu-button class="largeIcon"></ion-menu-button>
        </ion-buttons>

        <ion-title class="ion-text-center" (click)=" this.socketOnData(1)"
            >{{translateText.updateProgram}}</ion-title
        >
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col
            class="center"
            style="background-color: #7b7b7b; border-right: black"
            (click)="toggle(1)">
            <div style="font-size: 2vw">主程序</div>
        </ion-col>
        <ion-col
            class="center"
            style="background-color: #7b7b7b; border-right: black"
            (click)="toggle(2)">
            <div style="font-size: 2vw">刀锋</div>
        </ion-col>
        <ion-col class="center" style="background-color: #7b7b7b" (click)="toggle(3)">
            <div style="font-size: 2vw">AI6</div>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="12">
            <ion-row
                *ngFor="let item of updateProgramItemList;let i = index"
                style="border-bottom: 2px solid #7b7b7b">
                <ion-col size="0.5" class="center">
                    <ion-checkbox
                        style="--border-color: #7b7b7b; --border-width: 2px"
                        [(ngModel)]="item.select"
                        (click)="itemSelect(i)">
                    </ion-checkbox>
                </ion-col>
                <ion-col size="10">
                    <div class="center" style="height: 100%; justify-content: start">
                        {{item.name}}
                    </div>
                </ion-col>
                <ion-col size="1">
                    <ion-button expand="block" shape="round" (click)="updateProgram(item)">
                        更新
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-content>
