<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>{{translateText.GG1DelayTime}}</ion-label>
            <ion-input
                placeholder="GG1延迟时间"
                [(ngModel)]="GGDelayShowTime1"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.GG2DelayTime}}</ion-label>
            <ion-input
                placeholder="GG2延迟时间"
                [(ngModel)]="GGDelayShowTime2"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.GG3DelayTime}}</ion-label>
            <ion-input
                placeholder="GG3延迟时间"
                [(ngModel)]="GGDelayShowTime3"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.GG4DelayTime}}</ion-label>
            <ion-input
                placeholder="GG4延迟时间"
                [(ngModel)]="GGDelayShowTime4"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.GG5DelayTime}}</ion-label>
            <ion-input
                placeholder="GG5延迟时间"
                [(ngModel)]="GGDelayShowTime5"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.GG6DelayTime}}</ion-label>
            <ion-input
                placeholder="GG6延迟时间"
                [(ngModel)]="GGDelayShowTime6"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.servingLiquor1DelayTime}}</ion-label>
            <ion-input
                placeholder="上酒1延迟时间"
                [(ngModel)]="liquorDelayShowTime1"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.servingLiquor2DelayTime}}</ion-label>
            <ion-input
                placeholder="上酒2延迟时间"
                [(ngModel)]="liquorDelayShowTime2"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.servingLiquor3DelayTime}}</ion-label>
            <ion-input
                placeholder="上酒3延迟时间"
                [(ngModel)]="liquorDelayShowTime3"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.servingLiquor4DelayTime}}</ion-label>
            <ion-input
                placeholder="上酒4延迟时间"
                [(ngModel)]="liquorDelayShowTime4"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.servingLiquor5DelayTime}}</ion-label>
            <ion-input
                placeholder="上酒5延迟时间"
                [(ngModel)]="liquorDelayShowTime5"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.servingLiquor6DelayTime}}</ion-label>
            <ion-input
                placeholder="上酒6延迟时间"
                [(ngModel)]="liquorDelayShowTime6"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
    </ion-list>

    <div class="ion-text-center">
        <ion-button (click)="setParameter()" size="medium">{{translateText.confirmBtn}}</ion-button>
    </div>
</ion-content>
