<ion-header>
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-menu-button style="visibility: hidden"></ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-menu-button class="largeIcon"></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{translateText.title}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label>{{translateText.input}} </ion-label>
        <ion-input [(ngModel)]="password" placeholder={{translateText.inputPlaceholder}}></ion-input>
    </ion-item>
    <div class="ion-text-center">
        <ion-button (click)="submitPass()">{{translateText.confirmBtn}}</ion-button>
    </div>
</ion-content>
