<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12/7">
                <img
                    src="assets/img/light-store-house/changge.svg"
                    [routerLink]="['/parameter-setting-tabs/light-storage-record/light-storage-record-list',{state:'ktv',color:'FEB079'}]"
                />
            </ion-col>
            <ion-col size="12/7">
                <img
                    src="assets/img/light-store-house/djpaidui.svg"
                    [routerLink]="['/parameter-setting-tabs/light-storage-record/light-storage-record-list',{state:'dj',color:'C2E105'}]"
                />
            </ion-col>
            <ion-col size="12/7">
                <img
                    src="assets/img/light-store-house/huike.svg"
                    [routerLink]="['/parameter-setting-tabs/light-storage-record/light-storage-record-list',{state:'meetings',color:'FE87C1'}]"
                />
            </ion-col>
            <!-- <ion-col size="12/7">
                <img
                    src="assets/img/light-store-house/wuqu.svg"
                    [routerLink]="['/parameter-setting-tabs/light-storage-record/light-storage-record-list',{state:'danceMusic'}]"
                />
            </ion-col> -->
            <ion-col size="12/7">
                <img
                    src="assets/img/light-store-house/Kgepaidui.svg"
                    [routerLink]="['/parameter-setting-tabs/light-storage-record/light-storage-record-list',{state:'karaoke',color:'4DB5F2'}]"
                />
            </ion-col>

            <ion-col size="12/7">
                <img
                    src="assets/img/light-store-house/shengri.svg"
                    [routerLink]="['/parameter-setting-tabs/light-storage-record/light-storage-record-list',{state:'birthday',color:'9B72F4'}]"
                />
            </ion-col>
            <ion-col size="12/7">
                <img
                    src="assets/img/light-store-house/shengdan.svg"
                    [routerLink]="['/parameter-setting-tabs/light-storage-record/light-storage-record-list',{state:'christmas'}]"
                />
            </ion-col>

            <ion-col size="12/7">
                <img
                    src="assets/img/light-store-house/kaichangshow.svg"
                    [routerLink]="['/parameter-setting-tabs/light-storage-record/light-storage-record-list',{state:'openshow',color:'DED572'}]"
                />
            </ion-col>

            <ion-col size="12/7">
                <img
                    src="assets/img/light-store-house/GG.svg"
                    [routerLink]="['/parameter-setting-tabs/light-storage-record/light-storage-record-list',{state:'GG',color:'FDD100'}]"
                />
            </ion-col>

            <ion-col size="12/7">
                <img
                    src="assets/img/light-store-house/shangjiu.svg"
                    [routerLink]="['/parameter-setting-tabs/light-storage-record/light-storage-record-list',{state:'servingLiquor',color:'D0753B'}]"
                />
            </ion-col>

            <!-- <ion-col size="12/7">
                <img
                    src="assets/img/light-store-house/zongkong.svg"
                    [routerLink]="['/parameter-setting-tabs/light-storage-record/light-storage-record-list',{state:'zongkong',color:'B2C94A'}]"
                />
            </ion-col> -->

            <ion-col size="12/7">
                <img
                    src="assets/img/light-store-house/texiao.svg"
                    [routerLink]="['/parameter-setting-tabs/light-storage-record/light-storage-record-list',{state:'texiao'}]"
                />
            </ion-col>

            <ion-col size="12/7">
                <img
                    src="assets/img/light-store-house/other.svg"
                    [routerLink]="['/parameter-setting-tabs/light-storage-record/light-storage-record-list',{state:'other',color:'D8C0CB'}]"
                />
            </ion-col>

            <ion-col size="12/7">
                <img
                    src="assets/img/light-store-house/video.svg"
                    [routerLink]="['/parameter-setting-tabs/light-storage-record/light-storage-record-list',{state:'video',color:'DED572'}]"
                />
            </ion-col>
            <ion-col size="12/7">
                <img
                    src="assets/img/light-store-house/propose.svg"
                    [routerLink]="['/parameter-setting-tabs/light-storage-record/light-storage-record-list',{state:'propose',color:'D92375'}]"
                />
            </ion-col>
            <ion-col size="12/7">
                <img
                    src="assets/img/light-store-house/draft.svg"
                    [routerLink]="['/parameter-setting-tabs/light-storage-record/light-storage-record-list',{state:'draft',color:'46BA1F'}]"
                />
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
