<ion-content>
    <ion-grid>
        <ion-row>
            <ion-toolbar mode="md">
                <ion-buttons slot="start">
                    <ion-menu-button style="visibility: hidden"></ion-menu-button>
                </ion-buttons>
                <div class="ion-text-center">
                    <img src="assets/img/about/acme.svg" style="width: 30%; height: 50%" />
                </div>
                <ion-buttons slot="end">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="ion-text-center">
                    <label>{{translateText.label1}}</label>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="ion-text-center">
                    <img src="assets/img/about/AcmeQRcode.png" style="height: 125px" />
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="ion-text-center">
        <label> {{translateText.label2}} </label>
    </div>
    <div class="ion-text-center">
        <label>{{translateText.label3}}</label>
    </div>
    <div class="ion-text-center">
        <label>{{translateText.label4}}</label>
    </div>
    <div class="ion-text-center">
        <label>{{translateText.label5}}</label>
    </div>
    <div class="ion-text-center">
        <label>{{translateText.label6}}</label>
    </div>
</ion-content>
