.widerConversationBackground{
    background: url("../../assets/img/mode-select/optionBackground.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.fullRow{
    height:100%
}
.largeIcon{
    font-size: 9.5vh;
    padding-bottom: 2vh;
}
.conversationList{
    height: 100%;
}
.autoHeightCol{
    height:auto;
}
.divModeHeight{
    height:30vh;
}
.toolbarBackground{
    --background:#000000
}