<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>{{translateText.video1DelayTime}}</ion-label>
            <ion-input
                placeholder="视频1延迟"
                [(ngModel)]="videoDelayTime1"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.video2DelayTime}}</ion-label>
            <ion-input
                placeholder="视频2延迟"
                [(ngModel)]="videoDelayTime2"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.video3DelayTime}}</ion-label>
            <ion-input
                placeholder="视频3延迟"
                [(ngModel)]="videoDelayTime3"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.video4DelayTime}}</ion-label>
            <ion-input
                placeholder="视频4延迟"
                [(ngModel)]="videoDelayTime4"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.video5DelayTime}}</ion-label>
            <ion-input
                placeholder="视频5延迟"
                [(ngModel)]="videoDelayTime5"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.video6DelayTime}}</ion-label>
            <ion-input
                placeholder="视频6延迟"
                [(ngModel)]="videoDelayTime6"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> {{translateText.video7DelayTime}} </ion-label>
            <ion-input
                placeholder="视频7延迟"
                [(ngModel)]="videoDelayTime7"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.video8DelayTime}}</ion-label>
            <ion-input
                placeholder="视频8延迟"
                [(ngModel)]="videoDelayTime8"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.video9DelayTime}}</ion-label>
            <ion-input
                placeholder="视频9延迟"
                [(ngModel)]="videoDelayTime9"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.video10DelayTime}}</ion-label>
            <ion-input
                placeholder="视频10延迟"
                [(ngModel)]="videoDelayTime10"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.video11DelayTime}}</ion-label>
            <ion-input
                placeholder="视频11延迟"
                [(ngModel)]="videoDelayTime11"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.video12DelayTime}}</ion-label>
            <ion-input
                placeholder="视频12延迟"
                [(ngModel)]="videoDelayTime12"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.video13DelayTime}}</ion-label>
            <ion-input
                placeholder="视频13延迟"
                [(ngModel)]="videoDelayTime13"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.video14DelayTime}}</ion-label>
            <ion-input
                placeholder="视频14延迟"
                [(ngModel)]="videoDelayTime14"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{translateText.video15DelayTime}}</ion-label>
            <ion-input
                placeholder="视频15延迟"
                [(ngModel)]="videoDelayTime15"
                type="number"
                min="0"
                (ionInput)="delayCheck($event)"
            ></ion-input>
        </ion-item>
    </ion-list>
    <div class="ion-text-center">
        <ion-button (click)="setParameter()" size="medium">{{translateText.confirmBtn}}</ion-button>
    </div>
</ion-content>
